* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  display: inline-block;
  margin-left: 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: light 300;
}
.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/pexels-pavlo-luchkovski-337897.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: fixed;
  top: 0;
}
.container {
  z-index: 9999;
  position: relative;
  top: 0;
}
.scrollbar {
  padding: 20px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}
.scrollbar div {
  text-align: center;
  display: flex;
}
.scrollbar li {
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}
.topMain {
  display: flex;
  width: 85%;
  margin: 20px auto;
  justify-content: space-between;
  color: white;
  /* font-family: "Zen Kaku Gothic Antique", sans-serif; */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.sub {
  margin-right: 8px;
}
.login_login a {
  color: white;
  text-decoration: none;
}
.login_login,
.login_register {
  margin-left: 15px;
  font-weight: 100;
  text-decoration: underline;
}
.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  margin: auto;
  justify-content: space-between;
}
.topNav a {
  text-decoration: none;
}
.topNav h3 {
  font-size: 28px;
  color: white;
  font-family: sans-serif;
  font-weight: 300;
}
.topNav a {
  display: block;
  border: 1px solid white;
  font-size: 16px;
  width: 10%;
  padding: 10px 17px;
  border-radius: 20px;
  color: white;
  font-family: sans-serif;
}
.middle {
  margin-top: 100px;
}
.middle-h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}
.middle-p {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  line-height: 30px;
}
